@import "tailwindcss";

@plugin "daisyui";


/* Google Font Style */
.primary{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.secondary {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.third {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}







